* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: crimson;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;

    width: 100vw;
    height: 100vh;
}

h1 {
    font-size: 5rem;
    opacity: 0.6;
}

#carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 150px;
    height: 150px;
    gap: 10px;

    position: relative;
}

#carousel img.imgCarousel {
    position: absolute;
    width: 150px;
    height: 170px;
    opacity: 0;

    transition: opacity 800ms;
}

button {
    display: flex;
    flex-direction: column;
    margin: 80px;
    justify-content: center;
    border: none;
    background: transparent;
    cursor: pointer;
}

#carousel img.selection {
    opacity: 1;
}